.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
}
.answerButton {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 10px 0;
  padding: 6px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: grey;
  color: white;
}
.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;}